.input-field{
    flex-direction: column;
    font-family: sans-serif;
    font-size: x-large;

    
    
}
#one{
    padding: 10px 0px 10px 0 px;
}
p{
    
    font-style: normal;
    font-weight: bolder;
    font-size: xx-large;
}
body{
    color: black;
    font-family: Times 'Times New Roman', Times, serif;
}

